<!DOCTYPE html>
<html lang="en-US">

<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/newstyles.css') }}">
</head>

<div id="google_translate_element"></div>

<script type="text/javascript">

function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>



<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">

</script>


<body style="text-align: center;">

	<form action="/home" method="POST">

		<h1>Grammar and Spelling Checker</h1>

		<label for="inputtext">Enter your sentence below</label>
		<br><br>
		<textarea id="name" name="name" placeholder="Place your text here" rows="15" cols="120" ></textarea>
		<br><br>

		<input type="Submit" class="file_submit"></input>
		
		<input  type="reset" value="Clear">
		
		  <p>
			Word Count:
			<span id="wcount">0</span>
		  </p>
		
		  <script>
			document
			  .querySelector("#name")
			  .addEventListener("input", function countWord() {
				let res = [];
				let str = this.value.replace(/[\t\n\r\.\?\!]/gm, " ").split(" ");
				str.map((s) => {
				  let trimStr = s.trim();
				  if (trimStr.length > 0) {
					res.push(trimStr);
				  }
				});
				document.querySelector("#wcount").innerText = res.length;
			  });
		  </script>
<br>
		<label for="outputtext"> <b>Output</b> </label>
		<br><br>

		<h4> 
					{% if name %}{{name|safe}}{% endif %} </h4>

		<br><br>
		<p>Click the "Submit" button to check spelling and grammar errors</p>

		
	</form>
</body>
</html>
